/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
/* flex contatiner */

.row {
	display: flex;
	flex-flow: row wrap;
}

.row-2 {
	display: flex;
	flex-flow: row wrap;
	flex-direction: row-reverse;
	justify-content:flex-end;
}

/* attribute selector to give some margin between columns and apply styles to flex items */

[class*="col-"] {
	margin-left: 4%;
	flex: 0 0 92%;
}

/* Add background colors to see how much space each column is taking */

.col-1 {
	background-color: #A3CDD9;
}

.col-2 {
	background-color: #FFFCE6;
}

.col-3{
	background-color: #e77409;
}

.col-4 {
	background-color: #b1ff4b;
}

.col-5 {
	background-color: #ff0000;
}



/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px) {

	.col-1,
	.col-2, .col-5 {
		flex: 1 0 44%;
	} 


	.col-3,
	.col-4 {
		flex: 1 0 92%;
	}

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

  
 	.col-1 {
		flex: 0 0 20%; /*1 column width*/
	}
  
	.col-2 {
		flex: 0 0 44%; /*2 column width*/
	}

	.col-3{
		flex: 0 0 68%; /*3 column width*/
	}

	.col-4 {
		flex: 0 0 92%; /*4 column width*/
	}
	
	.col-5{
		flex: 0 0 28%; /*custom width*/
	} 

}